*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*для плавного скроллига*/
    scroll-behavior: smooth;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:-webkit-any-link {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /*background-color: royalblue;*/
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
}